
@{
	ViewBag.Title = "CreateUserAndAssignRole";
}

<h2>CreateUserAndAssignRole</h2>

<div class="rows">
    <div class="col-md-12">



        @Html.ActionLink("Create Role", "CreateRole", "Admin")<br />

        @Html.ActionLink("Add User", "CreateUserAndAssignRole", "Admin")<br />
    </div>
</div>

@using (Html.BeginForm("CreateUserAndAssignRole", "Admin", FormMethod.Post))
{

	



		
	
		<tr class="rows">
			<th>Email</th>
			<td>
				<div class="input-group">
					<div class="input-group-addon">
						<i class="fa fa-at"></i>
					</div>
					<input type="text" class="form-control" name="txtEmail" />
					<br />

				</div>
			</td>
		</tr>
		<tr class="rows">
			<th>Password</th>
			<td>
				<div class="input-group">
					<div class="input-group-addon">
						<i class="fa fa-lock"></i>
					</div>
					<input type="password" class="form-control" name="txtPassword" />
					<br />

				</div>
			</td>
		</tr>
		<tr class="rows">
			<th>Select Role</th>
			<td>
				<div class="input-group">
					<div class="input-group-addon">

					</div>
					@Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select...")
					

				</div>
			</td>
		</tr>
		<br />
		<button type="submit" class="btn btn-primary">Add Role</button>
}
