@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1>Criteria</h1>
    <p class="lead"><img src="~/Images/tfs-mobile-icon-web-banner-wtxt_672x216_0.png" /></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
